langchain==0.0.154
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.18.1
faiss-cpu==1.7.4
streamlit-extras
openai
tiktoken
InstructorEmbedding
sentence_transformers
transformers==4.28.1 
bitsandbytes==0.38.1
accelerate==0.18.0
InstructorEmbedding 
sentence_transformers
chromadb